html {
  min-width: 350px;
}
body {
  background-color: #739b9b;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.App {
  text-align: center;
}
.headerIcon {
  min-width: 322px;
  font-size: 50px;
}
#btnDarkMode {
  font-size: 25px;
  padding-top: 25px;
}
#input {
  border-top: 2px solid #212529;
  border-left: 2px solid #212529;
  border-bottom: 2px solid #212529;
  border-right: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #dff5dc70;
}
#input:focus, #input:active {
  outline: none !important;
  box-shadow: none;
}
#cherche {
  border-top: 2px solid #212529;
  border-right: 2px solid #212529;
  border-bottom: 2px solid #212529;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #dff5dc70;
}
#cherche:focus, #cherche:active {
  outline: none !important;
  box-shadow: none;
}